@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout */
html, body {
  margin: 0;
  height: 100%;
  background-color: whitesmoke;
  font-family: 'Rubik', sans-serif;
}

#root {
  max-width: 1250px;
  min-height: 100vh;
  margin: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


